<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title inertia>University of Newbrunswick - Inventory</title>

  @if(app.nodeEnvironment === "development")
  @viteReactRefresh()
  @inertiaHead()
  @vite(['resources/css/app.css'])
  @end

  @if(app.nodeEnvironment === "production")
  <link rel="stylesheet" href="/assets/app.css">
  @end

</head>


<body>
